:root {
  --background: #efefe7;
  --foreground: #171717;
  --navHeight: 80px;
  --baseFontSize: 18px;
  --brandColor: #2f95a6;
  --borderColor: rgba(0, 0, 0, 0.1);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: var(--baseFontSize);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--brandColor);
  text-decoration: none;
}
