.page {
  .mainHeading {
    font-size: 4em;
    letter-spacing: -0.04em;

    /* Mobile */
    @media (max-width: 600px) {
      font-size: 3em;
    }
  }
}

.intro {
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 2rem;
  height: calc(100vh - var(--navHeight));
  place-items: center stretch;

  /* Mobile */
  @media (max-width: 600px) {
    padding-top: 2rem;
    grid-template-columns: none;
    height: auto;
  }

  /* Desktop */
  @media (min-width: 601px) {
    > * {
      max-width: 90%;
    }
  }
}

.section {
  display: grid;
  grid-template-columns: 7fr 3fr;
  align-items: center;
  gap: clamp(2rem, 6vw, 6rem);

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.mailto {
  color: var(--brandColor);
}

.workIllustration {
  width: 100%;
  height: auto;
  transform: scale(1.2);
}

.contactOption {
  display: flex;
  gap: 2rem;
  align-items: center;

  /* Mobile */
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.bookCall {
  color: var(--foreground);
}

/* Mobile */
@media (max-width: 600px) {
  .divider {
    display: none;
  }
}
